VITE_SUPABASE_URL=https://ureibirtkbyzfauoepah.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyZWliaXJ0a2J5emZhdW9lcGFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyNjE3NTAsImV4cCI6MjA4NjgzNzc1MH0.K1Hq01vuLvmnwB-6oZkmHcLY1NTUKGPgK9aYkdqVgqQ
VITE_VAPID_PUBLIC_KEY=BPsW2B_N9rxH_3S4SvEJuVbR7OJ7gHnnQTRAAnjL5f_WVoFNjWCbkj-AjJGrgxZElc-f7IYz5B5cUlyWf8Xi1is
